body {
  background-image: url(https://img.freepik.com/free-vector/green-foliage-background_53876-112907.jpg?semt=ais_hybrid&w=740&q=80);
  font-family : 'Garamond';
  text-align : center;
}
.heading {
  background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20230704/pngtree-natural-green-leaf-pattern-3d-rendered-raster-illustration-for-background-and-image_3731630.jpg);
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  font-family: papyrus;
  font-size: 40px;
  border: 2px solid black;
  font-weight: 600;
}
.subheading {
  font-size : 30px;
  color : white;
  background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20230704/pngtree-natural-green-leaf-pattern-3d-rendered-raster-illustration-for-background-and-image_3731630.jpg);
  width : 25%;
  margin-left: auto;
  margin-right: auto;
  border : 1px solid rgb(0,100,0);
  border-radius : 10px;
}
.section {
  margin : 30px; 
  border : 2px solid black;
  padding : 15px;
  width : 75%;
  margin-left : auto;
  margin-right : auto;
}
.content {
  font-size : 23px;
}
.img-btn {
  border:2px solid black;
  padding:5px;
}
.hr-thickness {
  height: 1px;
  background-color: black;
}
footer {
  text-align: left;
  color: black;
}
.vertical-line {
  transform: rotate(90deg);
  margin: 10px;
  width: 250px;
  text-align: center;
  background-color: black;
}
.container {
  display: flex;
  justify-content: center;
  gap: 10%;
  align-items: center;
}
.left-content, .right-content {
  text-align: center;
}
h3 {
  font-size: 20px;
}
a {
  font-size: 18px;
}
a:link {
  color: black;
}
a:visited {
  color: black;
}
a:hover {
  color: green;
}
a:active {
  color: black;
}